In [51]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [52]:
calls_derecho_df = pd.read_csv('data/911_Phone Calls_Derecho_050320 050420.csv')

In [53]:
calls_derecho_df.shape

(1549, 5)

In [54]:
calls_derecho_df.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [55]:
calls_derecho_df['Cell Tower Address'].value_counts()

WIRELESS CALLER                    339
4400 HARDING PIKE - E               15
WIRELESS 911 CALLER                 14
3333 LEBANON PIKE - N               14
3009D DARRINGTON WAY - N            14
                                  ...
1950 DABBS AVE - NE                  1
2321 HOBSON PIKE - NW Sector         1
1823D 12TH AVE S - S                 1
828 DICKERSON PIKE - SE              1
4507 D KENTUCKY AVE - SE Sector      1
Name: Cell Tower Address, Length: 630, dtype: int64

In [56]:
calls_derecho_df['Seizure DateTime'].value_counts()

5/3/2020 18:58    12
5/3/2020 16:36    12
5/3/2020 18:04    11
5/3/2020 18:48    11
5/3/2020 17:19    10
                  ..
5/3/2020 23:43     1
5/3/2020 22:42     1
5/3/2020 22:13     1
5/3/2020 20:02     1
5/3/2020 21:04     1
Name: Seizure DateTime, Length: 416, dtype: int64

In [57]:
calls_tornado_df = pd.read_csv('data/911_Phone_Calls_Tornado_030320.csv')

In [58]:
calls_tornado_df.shape

(475, 5)

In [59]:
calls_tornado_df.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N

In [60]:
calls_tornado_df['Cell Tower Address'].value_counts()

WIRELESS CALLER                       101
907 12TH AV N - N                      16
1051G CHICAMAUGA AVE - S               10
3333 LEBANON PIKE - SE                  8
4940 OLD HICKORY BLVD. - SE SECTOR      7
                                     ...
1345 DICKERSON PIKE S - SW              1
1014 LOOBY CIR                          1
1051G CHICAMAUGA AVE - NW               1
859C GRANADA AVE - SE                   1
264 CRAIGMEADE DR - SE SECTOR           1
Name: Cell Tower Address, Length: 211, dtype: int64

# start of Derecho DF

In [61]:
dispatch_derecho_df = pd.read_csv('data/Computer_Aided_Dispatch_Data_Derecho_Incidents_050320-050420.csv', skiprows = 3)

In [62]:
dispatch_derecho_df.shape

(627, 5)

In [63]:
dispatch_derecho_df.head(10)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD
5,5/3/2020 4:33:53 PM,622 BROOK HOLLOW RD,36.111773,-86.888087,ELECTRICAL HAZARD
6,5/3/2020 4:34:19 PM,JOCELYN HOLLOW RD / BRESSLYN RD,36.103318,-86.898080,ELECTRICAL HAZARD
7,5/3/2020 4:35:01 PM,WOODLAND ST / S 7TH ST,36.173583,-86.760339,SEIZURE: EFFECTIVE BREATHING NOT VERIFIED >35
8,5/3/2020 4:36:42 PM,3000 POSTON AV,36.145332,-86.815356,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
9,5/3/2020 4:37:04 PM,51ST AV N / CENTENNIAL BLVD,36.162326,-86.849144,ELECTRICAL HAZARD

In [64]:
dispatch_derecho_df.tail(10)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
617,5/3/2020 11:58:29 PM,2618 ESSEX PL,36.132719,-86.810791,ELECTRICAL HAZARD
618,5/3/2020 11:59:51 PM,304 ELMINGTON AV,36.133028,-86.822201,ELECTRICAL HAZARD
619,5/4/2020 12:05:58 AM,2011 HAYES ST,36.151839,-86.800791,PULL STATION ALARM COMMERCIAL INDUSTRIAL BUILD
620,5/4/2020 12:09:25 AM,5820 LABRADOR LN,36.031867,-86.711384,ELECTRICAL HAZARD
621,5/4/2020 12:12:37 AM,1301 NEELYS BEND RD,36.240668,-86.673126,FALL - NOT ON STAIRS
622,5/4/2020 12:21:00 AM,625 BENTON AV,36.131384,-86.770628,HIGH RISE NATURAL GAS ODOR
623,5/4/2020 12:21:32 AM,518 BRENTLAWN DR,36.064362,-86.761199,UNKNOWN STATUS
624,5/4/2020 12:22:47 AM,517 ALBANY DR,36.212754,-86.600431,ELECTRICAL HAZARD
625,5/4/2020 12:27:52 AM,639 LAFAYETTE ST,36.153769,-86.777520,SICK PERSON: NO PRIORITY SYMPTOMS
626,5/4/2020 12:29:50 AM,2011 HAYES ST,36.151839,-86.800791,PULL STATION ALARM COMMERCIAL INDUSTRIAL BUILD

In [65]:
dispatch_derecho_df['IncidentTypeDescription1'].value_counts()

ELECTRICAL HAZARD                                370
GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD       23
MVA INJURIES:                                      8
UNKNOWN STATUS:                                    6
SMALL BUILDING INVESTIGATION                       6
                                                ...
NOT ALERT COPD                                     1
OTHER PAIN                                         1
POSSIBLY DANGEROUS HEMORRHAGE MEDICAL              1
SEIZURE: EFFECTIVE BREATHING NOT VERIFIED >35      1
TRAUMATIC INJURIES NOT DANGEROUS BODY AREA         1
Name: IncidentTypeDescription1, Length: 122, dtype: int64

In [66]:
dispatch_derecho_df['IncidentDate'].value_counts()

5/3/2020 6:35:17 PM     2
5/3/2020 6:35:07 PM     2
5/3/2020 6:35:25 PM     2
5/3/2020 5:49:48 PM     2
5/3/2020 9:29:25 PM     2
                       ..
5/3/2020 9:23:34 PM     1
5/3/2020 6:26:59 PM     1
5/3/2020 6:48:16 PM     1
5/3/2020 6:03:16 PM     1
5/3/2020 10:55:43 PM    1
Name: IncidentDate, Length: 604, dtype: int64

In [67]:
dispatch_derecho_df.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [68]:
dispatch_derecho_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IncidentDate              627 non-null    object
 1   Location                  627 non-null    object
 2   Latitude1                 627 non-null    float64
 3   Longitude1                627 non-null    float64
 4   IncidentTypeDescription1  627 non-null    object
dtypes: float64(2), object(3)
memory usage: 24.6+ KB

In [69]:
dispatch_derecho_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IncidentDate              627 non-null    object
 1   Location                  627 non-null    object
 2   Latitude1                 627 non-null    float64
 3   Longitude1                627 non-null    float64
 4   IncidentTypeDescription1  627 non-null    object
dtypes: float64(2), object(3)
memory usage: 24.6+ KB

In [70]:
dispatch_derecho_df['time'] = dispatch_derecho_df['IncidentDate'].str.split(' ').str[1]

In [71]:
dispatch_derecho_df.head(240)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1,time
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD,4:31:07
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD,4:32:18
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD,4:32:23
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN,4:33:04
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD,4:33:52
...,...,...,...,...,...,...
235,5/3/2020 6:30:16 PM,553 HARDING PL,36.077005,-86.739281,ELECTRICAL HAZARD,6:30:16
236,5/3/2020 6:30:25 PM,2215 29TH AV S,36.129429,-86.813941,SMALL OUTSIDE FIRE,6:30:25
237,5/3/2020 6:31:35 PM,4400 BELMONT PARK TER,36.099351,-86.803047,ELECTRICAL HAZARD,6:31:35
238,5/3/2020 6:32:03 PM,5041 DOVECOTE DR,36.069012,-86.766717,ELECTRICAL HAZARD,6:32:03
239,5/3/2020 6:32:07 PM,207 MISTY CAPE CV,36.161771,-86.591974,ELECTRICAL HAZARD,6:32:07

###### for x in range('4:40:00', '5:40:00'):
    print(x)

In [77]:
#d_time = dispatch_derecho_df('time', start = '4:31:07', end = '6:30:16')

In [78]:
dispatch_derecho_df.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1,time
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD,2020-11-12 04:31:07
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD,2020-11-12 04:32:18
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD,2020-11-12 04:32:23
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN,2020-11-12 04:33:04
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD,2020-11-12 04:33:52

In [79]:
dispatch_derecho_df['time'] = pd.to_datetime(dispatch_derecho_df['time'])

In [86]:
dispatch_derecho_df['time'] = dispatch_derecho_df('4:31:00', '6:30:00', include_start=True, include_end=True, axis=None)

TypeError: 'DataFrame' object is not callable

In [81]:
dispatch_derecho_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IncidentDate              627 non-null    object
 1   Location                  627 non-null    object
 2   Latitude1                 627 non-null    float64
 3   Longitude1                627 non-null    float64
 4   IncidentTypeDescription1  627 non-null    object
 5   time                      627 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 29.5+ KB

In [84]:
derecho_time = dispatch_derecho_df.loc[dispatch_derecho_df['time'] == "4:31:07 : 6:30:16"]

In [85]:
derecho_time.head()

Empty DataFrame
Columns: [IncidentDate, Location, Latitude1, Longitude1, IncidentTypeDescription1, time]
Index: []

In [33]:
derecho_map = folium.Map(location = [36.1612, -86.7775], zoom_start = 12)

#for ind, row in dispatch_derecho_df.iterrows():
    #point = [row['Latitude1'], row['Longitude1']]
    #popup = row['IncidentDate'] + ':' + row['IncidentTypeDescription1']
    #folium.Marker(point, popup = popup, icon=folium.Icon(color='wind')).add_to(derecho_map)

# Start of Tornado

In [ ]:
dispatch_tornado_df = pd.read_csv('data/Computer_Aided_Tornado_Incidents_030320.csv', skiprows = 3)

In [ ]:
dispatch_tornado_df.shape

In [ ]:
dispatch_tornado_df.head(10)

In [ ]:
dispatch_tornado_df.tail(10)

In [ ]:
dispatch_tornado_df['IncidentTypeDescription1'].value_counts()

In [ ]:
#draw our zip code area: 37207
nash_map = folium.Map(location = (36.16784, -86.77816), zoom_start = 12)


#iterate through stops_in_37207 to create locations and markers 
#for each bus stop
#remember for Folium locations, lat is listed first!!

for row_index, row_values in rain_accidents_2019_har_nash.iterrows():
    loc = [row_values['lat'], row_values['long']]
    pop = str('Precinct: ') + str(row_values['precincts'] + " " + " " + " " + str('Injuries: ') + str(row_values['number_of_injuries']))
    icon=folium.Icon(color=color('red')), icon="tornado", prefix='fa')
    
    marker = folium.Marker(
        location = loc, 
        popup = pop, icon = icon) 
    marker.add_to(nash_map)
nash_map.save('../maps/nash_map_accidents.html')
#display our map
nash_map